#search-content, search-login {
  display: none;
}





/* Screen less than (xs-default) ALL PHONES PORTRAIT*/
@media screen and (min-width: 0px) {
  #search-results {
    font-size: 12px;
  }  
}
/* Extra for small phones*/
@media screen and (min-width: 360px) {
  #search-results {
    font-size: 14px;
  }
}
/* Screen greater than (sm) SMALL TABLETS*/
@media screen and (min-width: 576px) {
  #search-results {
    font-size: 16px;
  }
}
/* Screen greater than (md) IPAD or TABLETS*/
@media screen and (min-width: 768px) {
  
}

/* Screen greater than (lg) LAPTOPS or DESKTOPS*/
@media screen and (min-width: 992px) {
  
}

/* Screen greater than (xl) 1200px*/
@media screen and (min-width: 1200px) {

}